@font-face {
  font-family: "Roboto-Light";
  src: url("../polices/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../polices/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../polices/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../polices/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../polices/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../polices/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
}
@keyframes loader-rotation {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(720deg);
  }
}
@keyframes loader-affichage {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes apparition-fondu {
  0% {
    opacity: 0%;
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
header {
  width: 992px;
  margin: auto;
}

.header .fa-logo {
  position: relative;
  left: -30px;
  top: 0px;
}

.section1 {
  width: 992px;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
}
.section1 .localisation {
  border-radius: 20px 20px 0px 0px;
}

.section2 {
  width: 992px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
.section2 nav ul {
  display: flex;
  justify-content: space-between;
}
.section2 nav ul li .navbtn {
  width: 300px;
}

.section3 {
  width: 952px;
  margin: 0px auto 30px auto;
  border-radius: 20px;
}

.conteneur {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.conteneur .blocrestaurant {
  width: 466px;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
footer .blocfooter {
  width: 992px;
}
